{% extends "base.html" %}

{% block title %}<title>Add product</title>{% endblock %}

{% block styles %}
    #lvl2{
        font-weight: bold;
        font: 16pt sans-serif;
        margin-left: 5%;
    }
<!--    .forms{-->
<!--        margin-left: 5%;-->
<!--    }-->
{% endblock %}

{% block links %}
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('get_home')}}">Home
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('products.get_prod_list')}}">Products
        </a>
    </li>
{% endblock %}

{% block info %}
    <h1 class="main-header">Add a new product</h1><br>
    <form action="{{url_for('products.add_prod_form')}}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p id="lvl2" style="margin-left: 5%;">Please enter all the fields:</p>
        <div style="margin-left: 5%;">
            Name: <div class="forms">{{form.name_input}}</div><br>
            Description: <div class="forms">{{form.desc_input}}</div><br>
            Price: <div class="forms">{{form.price_input}}</div><br>
            Upload image: <div class="forms">{{form.image_input}}</div>
        </div><br>
        <p style="margin-left: 5%;">
            <input type="submit" value="Add product">
        </p>
    </form>
{% endblock %}