{% extends "base.html" %}

{% block styles %}
    #info-text{
        font: 15pt sans-serif;
    }
    #images {
        float: left;
     }

{% endblock %}

{% block info %}
<h1 class="main-header">Author info</h1>
<br>
<div id="images">
    <img src="{{url_for('static', filename='author.jpg')}}" width="450" height="600" hspace="15">
</div>
<div id="info-text" hspace="15">
    <p>Serhii Horiaiev<br><a href="https://github.com/serhiihoriaiev">Github Link</a></p>
    <p>I did it with little looking to the previous homework and my notes!</p>
</div>
{% endblock %}