{% extends "base.html" %}

{% block styles %}
     #images {
          text-align: center;
         }

    *:focus {
        outline: 0;
    }
{% endblock %}

{% block info %}
<h1 class="main-header">Second Flask Homework</h1>
<br>
<br>
<div id="images">
    <img src="{{url_for('static', filename='flask-homework.png')}}" usemap="#image-map" width="650px" height="360px">
    <map name="image-map">
        <area href="/Alarm_clock/info" coords="20,20,167,132" shape="rect">
        <area href="/Headphones/info" coords="392,143,242,11" shape="rect">
        <area href="/IPod/info" coords="477,7,630,152" shape="rect">
        <area href="/Calculator/info" coords="17,196,135,344" shape="rect">
        <area href="/Coffeemaker/info"
              coords="270,206,378,208,374,328,269,331,248,258,254,248,265,238,259,227" shape="poly">
        <area href="/Battery_charger/info" coords="477,239,614,307" shape="rect">
    </map>
</div>
{% endblock %}